/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

html{
	text-align: center;
	align-content: center;
	background: crimson;
}
input{
	box-sizing: border-box;
	width: 98%;
	margin: 5px; /* .313em */ 
	display: inline-block;
	border-radius: 5px; /* .313em */ 
	font-size: 24px; /* 1.5em */
}
form{
	margin-top: 10px; /* .625em */
	background-color: blue;
	width: 100%;
}
#submit-button{
	align-content: center;
	width: 60%;
	height: 40px; /* 1.75em */
	padding: 5px 0 15px 0;
	background-color: yellow;
	text-decoration-color: black;
	font-family: 'Anton', sans-serif;
}
.question{
	font-size: 16px;
	margin-bottom: 20px
}
h1{
	font-size: 40px; /* 2.5em */
	padding-bottom: 5px; /* .313em */ 
	color: springgreen;
	font-family: 'Berkshire Swash', cursive;
}
h3{
	font-size: 20px; /* 1.25em */
	font-weight: bold;
	padding-bottom: 5px; /* .313em */ 
	font-family: 'Bebas Neue', cursive;
	color: mistyrose;
}
label{
	display: block;
	font-weight: bold;
	height: 30px;
	font-size: 24px; /* 1.5em */
	padding-bottom: 5px; /* .313em */ 
	margin: 2px;
	color: lavender;
}
@media screen and (min-width: 510px) {
	html{
		background: #CD5C5C;
		margin-top: 10px; /* .625em */
	}
	form{
		background-color: #6495ED;
	}
	input{
		width: 70%;
		font-size: 30px; /* 1.875em */
		border-radius: 10px; /* .625em */
	}
	label{
		font-size: 30px; /* 1.875em */
		color: mediumspringgreen;
	}
	h1{
		font-size: 48px; /* 3em */
		color: aquamarine;
	}
	h3{
		font-size: 30px; /* 1.875em */
		color: honeydew;
	}
	.question{
		font-size: 24px; /* 1.5em */
	}
	#submit-button{
		width: 40%;
		font-size: 24px; /* 1.5em */
	}
}
@media screen and (min-width: 768px) {
	html{
		background: #F08080;
	}
	form{
		margin-top: 24px; /* 1.5em */
		background-color: #E0FFFF;
		float: right;
	}
	input{
		width: 60%;
		font-size: 24px; /* 1.5em */
		float: left;
		margin-top: 5px;
	}
	label{
		font-size: 24px; /* 1.5em */
		float: left;
		width: 30%;
		margin-left: 3%;
		color: black;
		margin-top: 5px; /* .313em */ 
		color: darkviolet;
		text-align: left;
		margin-right: 7%;
	}
	h1{
		font-size: 56px; /* 3.5em */
		color: indigo;
	}
	h3{
		font-size: 32px; /* 2em */
		color: paleturquoise;
	}
	#checkbox-div{
		margin-left: 3%;
	}
	#checkbox{
		float: left;
		margin-top: 10px; /* .625em */
		width: 5%;
		margin-right: 0;
	}
	.question{
		float: left;
		margin-left: 1%;
		width: 70%;
		text-align: left;
	}
	#name{
		width: 15%;
	}
	#full_name{
		width: 75%;
	}
	#mail{
		width: 10%;
	}
	#email{
		width: 80%;
	}
	#submit-button{
		width: 30%;
		margin: 0 35% 0 35%	}
}