html{
	text-align: center;
	align-content: center;
	background: crimson;
}
input{
	box-sizing: border-box;
	width: 98%;
	margin: 5px;
	display: inline-block;
	border-radius: 5px;
	font-size: 16px;
}
form{
	margin-top: 10px;
	background-color: blue;
	width: 100%;
}
#submit-button{
	width: 45%;
	height: 32px;
	background-color: yellow;
	text-decoration-color: black;
	font-family: 'Anton', sans-serif;
}
.question{
	font-size: 16px;
	margin-bottom: 20px
}
h1{
	font-size: 40px;
	padding-bottom: 5px;
	color: springgreen;
	font-family: 'Berkshire Swash', cursive;
}
h3{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px
	font-family: 'Bebas Neue', cursive;
	color: mistyrose;
}
label{
	display: block;
	font-weight: bold;
	height: 30px;
	font-size: 24px;
	padding-bottom: 5px;
	margin: 2px;
	color: lavender;
}
@media screen and (min-width: 510px) {
	html{
		background: #CD5C5C;
		margin-top: 10px;
	}
	form{
		background-color: #6495ED;
	}
	input{
		width: 70%;
		font-size: 30px;
		border-radius: 10px;
	}
	label{
		font-size: 30px;
		color: mediumspringgreen;
	}
	h1{
		font-size: 48px;
		color: aquamarine;
	}
	h3{
		font-size: 30px;
		color: honeydew;
	}
	.question{
		font-size: 30px;
	}
	#submit-button{
		width: 40%;
		height: 32px;
	}
}
@media screen and (min-width: 768px) {
	html{
		background: #F08080;
	}
	form{
		margin-top: 25px
		background-color: #E0FFFF;
		float: right;
	}
	input{
		width: 45%;
		font-size: 24px;
		float: right;
	}
	label{
		font-size: 24px;
		float: left;
		width: 45%;
		margin-left: 3%;
		color: black;
		margin-top: 5px;
		color: darkviolet;
	}
	h1{
		font-size: 56px;
		color: indigo;
	}
	h3{
		font-size: 32px;
		color: paleturquoise;
	}
	#checkbox{
		float: left;
		margin-top: 10px;
		margin-left: 15%;
		width: 5%;
	}
	.question{
		float: left;
		margin-left: 1%;
		width: 70%;
		text-align: left;

	}
	#submit-button{
		width: 30%;
		margin: 0 35% 0 35%	}
}